html {
    box-sizing: border-box;

    *,
    *::after,
    *::before {
        box-sizing: inherit;
    }
}

input {
    all: unset;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
}

#header {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 9px 15px -1px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 9px 15px -1px rgba(0, 0, 0, 0.26);
}

#menu {
    display: inline;
    margin-right: 10px;
}

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 50px);
    background-image: url("./images/background.jpg");
    background-size: cover;
}

#title {
    margin-bottom: 45px;
    margin-top: 20px;
    width: 80%;
    text-align: center;
    color: white;
}
#container {
    width: 70%;
    height: 50vh;
    display: flex;
    justify-content: space-between;
}

.containerBox {
    border-radius: 10px;
    background-color: white;
    height: 90%;
    width: 40%;
}

#resultBox {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    -webkit-box-shadow: 0px 9px 12px 6px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 9px 12px 6px rgba(0, 0, 0, 0.26);
    overflow: auto;
    padding: 25px 15px;
}

#messageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 30px;
    -webkit-box-shadow: 0px 9px 12px 6px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 9px 12px 6px rgba(0, 0, 0, 0.26);
}

#searchBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px;
    -webkit-box-shadow: 0px 9px 12px 6px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 9px 12px 6px rgba(0, 0, 0, 0.26);
}

#searchDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

img {
    width: 50%;
}

#line {
    height: 1px;
    width: 70%;
    background-color: rgb(58, 124, 113);
}

#logoP {
    margin-left: 10px;
    color: rgb(58, 124, 113);
    font-weight: 800;
    font-size: x-large;
    font-family: "Roboto", serif;
}

#submitButton {
    background-color: rgb(58, 124, 113);
    border-radius: 5px;
    width: 80%;
    height: 40px;
    border-color: rgb(58, 124, 113);
    color: white;
    border: 0;
    -webkit-box-shadow: 0px 9px 12px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 9px 12px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-size: 900;
}

#submitButton:hover {
    transition: 0.2s all;
    -webkit-box-shadow: 0px 9px 12px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 9px 12px 2px rgba(0, 0, 0, 0.2);
}

input {
    display: block;
    width: 100%;
    height: 40px;
    border-color: white;
    border-radius: 5px;
    border: 0;
    padding: 5px 10px;
    background-color: rgb(242, 242, 237);
    outline: none;
}

#whiteBG {
    display: flex;
    background-color: rgb(230, 227, 223);
    height: calc(100vh - 50px);
    justify-content: center;
    align-items: center;
}

#cartContainer {
    background-color: white;
    width: 60%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#bookingContainer {
    background-color: white;
    width: 60%;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
a {
    color: black;
    text-decoration: none;
}

.newTrip {
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
    height: auto;
    background-color: rgb(242, 242, 237);
    font-size: 12px;
}

.depShow {
    width: 20%;
    background-color: rgb(242, 242, 237);
}

.arrShow {
    width: 20%;
    background-color: rgb(242, 242, 237);
}

.dateShow {
    width: 25%;
    background-color: rgb(242, 242, 237);
}

#ArrivalInput {
    margin-bottom: 50px;
    border-radius: 0 0 5px 5px;
}

#DepartureInput {
    border-bottom: 1px solid #d3d3d3;
    border-radius: 5px 5px 0 0;
}

.display-none {
    display: none;
}

.buyButton {
    height: 40;
    background-color: rgb(58, 124, 113);
    color: white;
    border-radius: 5px;
    border-color: transparent;
    width: 20%;
}
